.container {
    max-width: 100%;
    border: 1px solid red;
    margin: auto;
  }
  
  body {
    background: #161617;
  }

 /* Header */

.burger_arragment{
  display: flex;
  align-items: center;
}
.header_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin: auto;
  height: 64px;
  width: calc(1040 / 1707 * 100%);
  white-space: nowrap;
}
.head_logo_click {
  color: #fff;
  font-family: "Unbounded", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 40px;
   flex-shrink: 1;
}

/* <!-- Header Pages --> */

nav {
  flex: 1;
}
nav ul{
  display: flex;
  gap: 25px;
  padding: 0;
}
nav ul li a {
  position: relative;
  color: rgba(255, 255, 255, 0.85);
  font-family: Open Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 107.692%;
  letter-spacing: 0.28px;
}
nav ul li a::after {
  content: " ";
  position: absolute;
  background-color: #ffffff;
  height: 1px;
  width: 0;
  left: 0;
  bottom: -15px;
  transition: 0.1s;
}

nav ul li a:hover {
  color: #858585;
}

nav ul li a:hover::after {
  width: 100%;
}

.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 200px;
  z-index: 999;
  display: none;
  background-color: #1a1e1f;
  flex-direction: column;
  padding: 40px 10px;
  row-gap:40px;
}

.sidebar li {
  margin-left: auto;
}
.sidebar a {
  margin-left: auto;
  width: 100%;
}

.fa-xmark {
  justify-content: center;
  margin-left: auto;
  padding: 0px 20px 50px 0px;
}
/* Burger Menu Icon: Styles for the burger menu icon, visible only in mobile view */
.burger {
  margin-left: auto;
  padding: 0px 20px 0px 0px;
  display: none;
  
}

/* Responsive Design Adjustments: Styles that apply when the viewport width is 800px or less */
@media (max-width: 980px) {
  .hideOnmobile {
    display: none;
  }
  .burger {
    display: block;
    margin-right: auto;
  }
  .logo {
    margin-left: 10px;
  }

  .header_container {
    width: calc(500 / 1707 * 100%);
  }
}

  /* Header Icons */

.icons {
    display: flex;
    align-items: center;
    column-gap: 30px;
  }
  .Buy_now {
    display: flex;
    height: 33px;
    padding: 7px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background: #ff8a00;
  }
  .Buy_now span {
    color: #fff;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

/* main */

  .poster{
    position: relative;
            text-align: center;
        margin-top: 20px;
  }

  .poster img{
    width: 100%;
    object-fit: cover;
  }
  

  /* contacts */
  
  /* General Styles */
.section {
  width: calc(1303 / 1707 * 100%);
  margin: 120px auto 140px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form{
  margin-top: 20px;
  max-width: 100%;
}

.let_talk {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.information_about_talk {
  margin-bottom: 55px;
}

.information_about_talk h2 {
  color: #FFF;
  font-family: "SF Pro Display Medium";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}

.information_about_talk span {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.email_information {
  margin-bottom: 55px;
}

.email_information h2 {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}

.email_information span {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.social_information a {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.social_information h2 {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}

.social_information span {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

/* Contact Form Styles */
.hero {
  width: calc(565 / 1303 * 100%);
}

.input_group {
  position: relative;
  margin-bottom: 30px;
}

.input, textarea {
  width: 100%;
  padding: 10px;
  outline: 0;
  border: none;
  background-color: white;
  font-size: 15px;
}

.label {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  color: #161617;
  cursor: text;
  transition: 0.2s;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hero_button {
  width: 100%;
  padding: 13px 0px;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: #000;
  border: none;
}

.hero_button:hover {
  background: rgb(255, 255, 255);
  color: #000000;
}

.input:focus~.label, .input:valid~.label, textarea:focus~.label, textarea:valid~.label {
  top: -35px;
  font-size: 14px;
  color: #FFF;
}

.error {
  color: red;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Responsive Design Adjustments */
@media (max-width: 768px) {
  .section {
      flex-direction: column;
      align-items: center;
      width: 90%;
  }

  .let_talk, .hero {
      width: 100%;
  }
  .information_about_talk h2, .email_information h2, .social_information h2 {
      font-size: 48px;
  }

  .information_about_talk span, .email_information span, .social_information span {
      font-size: 18px;
  }
}

@media (max-width: 480px) {
  .section {
      width: 95%;
  }

  .information_about_talk h2, .email_information h2, .social_information h2 {
      font-size: 32px;
  }

  .information_about_talk span, .email_information span, .social_information span {
      font-size: 16px;
  }

  .hero_button {
      font-size: 18px;
  }

  .input, textarea {
      font-size: 14px;
  }
}


/* Footer */

footer {
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 0;
  background: rgba(29, 29, 30, 0.5);
  padding: 100px 0 30px 0;
  margin-top: 80px;
}
.vertical_line {
  position: absolute;
  width: calc(1300 / 1690 * 100%);
  margin: auto;
  height: 1px;
  background-color: rgb(255, 255, 255);
  left: 0;
  right: 0;
}
.footer_container {
  max-width: calc(1300 / 1690 * 100%);
  margin: auto;
}
.row {
  display: flex;
  flex-flow: row wrap;
}
.footer_items {
  width: 20%;
}
.footer_items h6 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 25px;
}
.footer_items ul li:not(:last-child) {
  margin-bottom: 15px;
}
.footer_items ul li a {
  color: #9fa3a6;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: block;
  transition: all 0.3s ease;
}
.footer_items ul li a:hover {
  color: #fff;
  padding-left: 8px;
}
.footer_items h6:not(:last-child) {
  margin-top: 55px;
}
@media (max-width: 767px) {
  .footer_items {
    width: 50%;
    padding: 0 15px;
  }
}
@media (max-width: 574px) {
  .footer_items {
    width: 100%;
  }
}
.special {
  margin-left: auto;
}
.footer_items span {
  color: #9fa3a6;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.footer_form {
  display: flex;
  width: 240px;
  height: 29px;
  padding: 12px 0px 12px 12px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #9fa3a6;
  margin-top: 10px;
}
.footer_form input {
  width: 100%;
  background: transparent;
  outline: none;
  border: 0;
  color: #9fa3a6;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.special button {
  display: flex;
  width: 30px;
  height: 29px;
  padding: 12px 24px;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 5px;
  background: #9fa3a6;
  border: none;
}



/* footer information */

.footer_information {
  width: calc(1300 / 1690 * 100%);
  height: 125px;
  flex-shrink: 0;
  margin: 75px auto 0px auto;
}

.info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 20px;
}

.info h2 {
  color: #fff;
  font-family: Unbounded;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.info a {
  color: #9fa3a6;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.footer_icons {
  display: flex;
  column-gap: 12px;
  margin-left: auto;
}

.footer_vertical_line {
  position: absolute;
  width: calc(1300 / 1690 * 100%);
  margin: auto;
  height: 1px;
  background-color: rgb(255, 255, 255);
  left: 0;
  right: 0;
  margin-top: 15px;
}

.footer_more_info {
  display: flex;
  column-gap: 20px;
  margin: 15px 0 17px 0;
}
.footer_more_info a {
  color: #9fa3a6;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 200;
  line-height: 150%;
}

.Copyright {
  color: #9fa3a6;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 200;
  line-height: 150%;
}

@media (max-width: 768px) {
  .footer_icons{
    margin-top: 50px;
  }
}
